---
# Only the main Sass file needs front matter (the dashes are enough)
---
.bookmark-row{
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 12px;

  ul{
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  li{
    border-top: 1px solid rgba(0,0,0,.2);
    line-height: 1.5;
  }

  a{
    display: block;
    padding: 15px;
    color: #111;

    &:hover{
      text-decoration: none;
      color: darkcyan;
      background-color: rgba(0,0,0,.05);
    }
  }

  h3{
    font-size: 14px;
  }

  p{
    margin: 0;
    padding: 0;
  }

  .openall{
    color: rgba(0,0,0,.4);
  }

  &.inactive a{
    color: rgba(0,0,0,.4);
  }
}

.web-search {

  text-align: center;
  background-color: rgba(0,0,0,0.07);
  padding: 30px 10px;
  margin-top: 50px;

  form{
    max-width: 480px;
    margin: 5px auto;
  }

  input[type="text"]{
    height: auto;
    outline: none;
  }

}

.bookmark-search{
  background-color: dimgray;
  padding: 15px;
  margin-bottom: 30px;
  text-align: center;

  input{
    width: 90%;
    max-width: 640px;
    background-color: rgba(0,0,0,.15);
    color: #fff;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    outline: none;
  }
}

.bookmark-results {
  position: absolute;
  display: none;
  background-color: #fff;
  font-size: 12px;

  ul{
    height: auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    list-style: none;
  }

  li{
    border-top: 1px solid rgba(0,0,0,.55);
  }

  a {
    text-align: left;
    padding: 10px 15px;
    color: rgba(255,255,255,.55);
    background-color: rgba(0,0,0,.65);
    display: block;
    line-height: 1.5;

    &:hover {
      color: rgba(255,255,255,.80);
      background-color: rgba(0,0,0,.75);
      text-decoration: none;
    }
  }
}


/* collapsing */
.bookmark-row ul{
  height: 0;
  overflow: hidden;
}

.bookmark-row a.collapse{
  display: none;
}

#forrent:target ul,
#forsale:target ul,
#openhouse:target ul,
#tosee:target ul,
#seen:target ul,
#csrf:target ul,
#tools:target ul,
#docker:target ul,
#forms:target ul,
#jobs:target ul,
#livetv:target ul,
#banks:target ul,
#owin:target ul,
#phnews:target ul,
#purchase:target ul,
#unread:target ul,
#rss:target ul,
#usnews:target ul,
#todo:target ul,
#utility-sites ul
{
  height: auto;
  overflow: visible;
}

#forrent:target h3 a,
#forsale:target h3 a,
#openhouse:target h3 a,
#tosee:target h3 a,
#seen:target h3 a,
#csrf:target h3 a,
#tools:target h3 a,
#docker:target h3 a,
#forms:target h3 a,
#jobs:target h3 a,
#livetv:target h3 a,
#banks:target h3 a,
#owin:target h3 a,
#phnews:target h3 a,
#purchase:target h3 a,
#unread:target h3 a,
#rss:target h3 a,
#usnews:target h3 a,
#todo:target h3 a,
#utility-sites h3 a
{
  display: none;
}

#forrent:target h3 a.collapse,
#forsale:target h3 a.collapse,
#openhouse:target h3 a.collapse,
#tosee:target h3 a.collapse,
#seen:target h3 a.collapse,
#csrf:target h3 a.collapse,
#tools:target h3 a.collapse,
#docker:target h3 a.collapse,
#forms:target h3 a.collapse,
#jobs:target h3 a.collapse,
#livetv:target h3 a.collapse,
#banks:target h3 a.collapse,
#owin:target h3 a.collapse,
#phnews:target h3 a.collapse,
#purchase:target h3 a.collapse,
#unread:target h3 a.collapse,
#rss:target h3 a.collapse,
#usnews:target h3 a.collapse,
#todo:target h3 a.collapse,
#utility-sites h3 a.collapse
{
  display: block;
}


/* flexbox */
.bookmark-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookmark-row{
  margin: 1em;
  flex-basis: 310px;
  align-self: flex-start;
}
