---
# Only the main Sass file needs front matter (the dashes are enough)
---
.calendar-page{

    h1{
        margin: 0 auto 50px auto;
        text-align: center;
        padding-bottom: 50px;
        background-color: rgba(0,0,0,.75);
        padding-top: 100px;
        color: #fff;
    }

    .calendar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .month{
        margin: 15px;
        color: #333;
    }

    table{
        margin-top: 10px;
        font-size: 13px;
    }

    tr:nth-of-type(1) {
        color: #777;
    }

    td:first-of-type,
    td:last-of-type{
        background-color: rgba(0,0,0,.02);
    }

    td{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        &.past{
            background-color: rgba(#000, .15);
            opacity: .5;
        }
    }

    .holiday:after {
        content: '\1F389';
    }
    .sick:after {
        content: '\1F637';
    }    
    .holiday span,
    .sick span {
        display: none;
    }

}