---
# Only the main Sass file needs front matter (the dashes are enough)
---

#tools{

    margin: 0 auto;
    max-width: 960px;

    .ratio{
        max-width: 450px;
        margin: 0 auto;

        &__xypair{
            margin: 10px 0 20px 0;
            float: left;
            width: 42%;

            hr{
                margin-bottom: 10px;
                border-top-color: rgba(0,0,0,.25);
            }

            input{
                text-align: center;
                display: block;
                max-width: 100%;
                margin-bottom: 10px;
            }
        }

        &__separator{
            float: left;
            margin: 30px 10px;
        }

        button{
            margin-right: 20px;
            width: 120px; 

            &:first-child{
                clear: left;
            }
        }

    }

}