@import "./sticky-footer";
@import "./top-nav";
@import "./utilities";

body {
  color: #444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.725;
}

h1{line-height: 1.125; color: tomato;}
h2{line-height: 1.125; color: tomato;}

img{
  max-width: 100%;
}

a {
  color: olive;
}