.resume {

  padding-top: 30px;

  h1 {
    margin-bottom: 90px;
  }

  .text-normal {
    font-weight: normal;
  }

  h3,
  h4,
  h5,
  p {
    margin-top: 0;
  }

  h4,
  h5{
    line-height: 1.25;
    margin-bottom: 5px;
  }

  p{
    line-height: 1.25;
  }

  .work-history{

    &:first-of-type{
      margin-top: 60px;
    }

    &:last-of-type{
      margin-bottom: 30px;
    }

    padding-top: 45px;
    padding-bottom: 45px;

    p:last-of-type{
      margin-bottom: 0;
    }
  }

}