<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/notes">/</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" title="Resume" data-title="Resume">[…]</a></li>
                <li><a href="/books" title="Books" data-title="Books">=></a></li>
                <li><a href="/notes" title="Notes" data-title="Notes">//</a></li>
                <li><a href="/bookmarks" title="Bookmarks" data-title="Bookmarks">&lt;/&gt;</a></li>
                <li><a href="/calendar" title="Calendar" data-title="Bookmarks">*x</a></li>
                <li><a href="/about" title="About" data-title="About">##</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
