/* Sticky Footer */
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  font-size: 75%;
  grid-row-end: 3;
  grid-row-start: 2;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer a{
  color: inherit;
}

.footer ul{
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li{
  float: left;
  margin-left: 10px;
}