.resume h1 {
  font-weight: normal;
  font-size: 2.75rem;
}

.resume .text-normal {
  font-weight: normal;
}

.resume h3,
.resume h4,
.resume h5,
.resume p {
  margin-top: 0;
}

.resume h4,
.resume h5{
  line-height: 1.25;
  margin-bottom: 5px;
}

.resume h5 {
  font-weight: lighter;
}

.resume p{
  line-height: 1.25;
}

.resume .work-history{
  margin-bottom: 45px;
}

.resume .work-history p {
  margin-bottom: 0;
}

.resume .work-location{
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 30px;
  margin-top: 60px;
  padding-bottom: 15px;
  color: #666;
}

.resume .work-location:not(:nth-of-type(1)) {
  margin-top: 45px;
}