.container{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid{
  max-width: 100%;
  margin-left: initial;
  margin-right: initial;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.border-top {
  border-top: 1px solid #eee;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

ul.inline{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

ul.inline-block{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.two-column li{
  display: flex;
  justify-content: space-between;
}

.m1{
  margin: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mt-1{
  margin-top: 1em;
}

.mb-1{
  margin-bottom: 1em;
}

.p1{
  padding: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pt-1{
  padding-top: 1em;
}

.pb-1{
  padding-bottom: 1em;
}

.hide {
  display: none;
}