.container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.heading{
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: normal;
}

    .heading span:first-child{
        font-size: 5rem;
        font-weight: bold;
    }

    .heading span:last-child{
        font-size: 5rem;
        letter-spacing: 2px;
    }

.work-date.end:before{
    content: ' to ';
}

.row.job{
    border-top: 1px solid #000;
    padding-top: 30px;
}

footer {
    text-align: center;

    hr{
        border-top-color: #999;
    }

    a{
        text-decoration: none;
        display: inline-block;
        max-width: 110px;
        width: 30%;
        text-align: center;
        color: rgba(0,0,0,.5);

        &:hover{
            color: #111;
        }
    }
}

@media (min-width: 550px) {

    .work-date{
        display: block;
        line-height:1.5;
        text-align: right;
    }
    
    .work-date:first-child{
        margin-top: 3rem;
    }

    .work-date.end:before{
        content: normal;
    }
}


@media (min-width: 550px) {

    .container{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .row.job{
        margin-bottom: 6rem;
        border-top: none;
        padding-top: 0;
    }

    .one-third.column {
        width: 15.6666666667%;
        max-width: 90px;
    }

    .two-thirds.column {
        width: 80.3333333333%;
        max-width: 930px;
    }

}


@media (min-width: 550px) {

    .heading{
        letter-spacing: normal;
        margin-bottom: 20px;
    }

        .heading span:last-child{
            font-size: 5rem;
        }

}


@media (min-width: 750px) {
    .box{
        float: left;
        width: 45%;
    }

    .box:nth-child(2n+0) {
        margin-left: 10%;
    }

    .box:nth-child(2n+1) {
        clear:both;
    }
}