/* Kobe HTM */
body.kobe-htm{
    color: #27262b;
    border-top: 15px solid #27262b;
    background-color: #d7d7d7;
}

body.kobe-htm .row.job{
    border-top: 1px solid #959595;
    padding-top: 5px;
    margin-bottom: 3rem;
}

body.kobe-htm .row.job > .one-third.column{
    background-color: #286dbb;
    padding-left: 5px;
    margin-bottom: 10px;
}

body.kobe-htm .work-date{
    color: #d7d7d7;
}

body.kobe-htm h6{
    color: #28681a;
}

body.kobe-htm .location{
    color: #944864;
}

body.kobe-htm footer hr{
  border-top-style: dashed;
  border-top-color: #222;
}

@media (min-width: 550px) {
    body.kobe-htm .container > .row:first-child{
        border-bottom: 1px dashed #27262b;
    }

    body.kobe-htm .row.job{
        border-top: none;
        margin-bottom: 6rem;
    }

    body.kobe-htm .work-date{
        text-transform: uppercase;
        font-size: 12px;
    }

    body.kobe-htm .work-date.end{
        padding-bottom: 25px;
    }

    body.kobe-htm .row.job > .one-third.column{
        background: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    body.kobe-htm .work-date{
        background-color: #286dbb;
        padding-right: 5px;
    }
}

@media (min-width: 960px) {
    body.kobe-htm .heading{
        margin-left: 0;
    }
}


/* Manhattan */
body.manhattan{
  font-family: Times, serif;
  color: #4c4c4c;
  background-color: #f7fbfb;

  .subhead{
    text-align: center;

    a{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.25rem;
      color: rgba(0,0,0,.3);
    }
  }

  a{
    color: rgba(0,0,0,.5);
    text-decoration: none;

    &:hover{
      color: rgba(0,0,0,.9);
    }
  }

  .job .company{
    &:before{
        content: 'at';
        padding: 0px 5px;
    }
  }
}

body.manhattan .row.job{
  border-top: none;
  margin-bottom: 50px;
}

body.manhattan .one-third.column{
  border-top: 1px dotted #333;
}

body.manhattan .one-third.column span{
  position: relative;
  top: -10px;
  background-color: #f7fbfb;
}

body.manhattan b,
body.manhattan strong,
body.manhattan .heading span:first-child{
  font-weight: normal;
}

body.manhattan h1{
  text-align: center;
  line-height: 1.25;
  font-size: 5.25rem;
  text-transform: uppercase;
}

body.manhattan h1 span:first-child,
body.manhattan h1 span:last-child{
  color: #111;
  letter-spacing: 8px;
}

body.manhattan .work-date.end{
  padding-right: 10px;
}

body.manhattan .work-date.end:before {
  content: ' to ';
}

body.manhattan .box h6{
  color: #111;
}

body.manhattan h3,
body.manhattan h4,
body.manhattan h5,
body.manhattan h6{
  letter-spacing: normal;
}

body.manhattan footer{
  text-align: center;

  hr{
    border-top-style: dotted;
    border-top-color: #333;
  }

  a{
    padding: 0 1rem 1rem 0;
  }
}

@media (min-width: 550px){
  body.manhattan .one-third.column{
    max-width: none;
    width: 100%;
    margin-left: 4%;
  }

  body.manhattan .work-date {
    display: initial;
    text-align: initial;
  }

  body.manhattan .box{
    clear: both;
  }

  body.manhattan .box h6{
    float: left;
    width: 160px;
  }

  body.manhattan .box p{
    float: left;
    position: relative;
    margin-left: 180px;
    margin-top: -25px;
    width: 80%;
  }
}

@media (min-width: 750px) {
  body.manhattan h1 span:first-child,
  body.manhattan h1 span:last-child{
    letter-spacing: 5px;
    margin-left: 2rem;
  }

  body.manhattan .box{
    width: 100%;
    margin-left: 10%;
  }

  .box:nth-child(2n+0) {
    margin-left: inherit;
  }

  body.manhattan .row.job{
    margin-bottom: 100px;
  }
}

@media (min-width: 960px) {
    body.manhattan {
      .heading{
        margin-left: 0;
        position: relative;
        top: 30px;
        padding-bottom: 4rem;
      }

      .subhead{
        position: relative;
        top: -85px;
        left: 15%;
        font-size: 1rem;
      }
    }
}


/* Highlighter */
body.sharpie{
  font-family: 'Georgia', 'Arial', sans-serif;

  .subhead{
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }

  .job .company{
    &:before{
        content: ', ';
        position: relative;
        left: -3px;
    }
  }
}

body.sharpie .row.job{
  border-top: none;
  margin-bottom: 50px;
}

body.sharpie .one-third.column span{
  position: relative;
  top: -10px;
}

body.sharpie .two-thirds.column .box{
  margin-bottom: 5px;
}

body.sharpie .two-thirds.column .box:first-of-type{
  margin-top: 20px;
}

body.sharpie .two-thirds.column p{
  margin-bottom: 20px;
  display: inline;
}

body.sharpie .two-thirds.column p span:last-of-type{
  background-color: orange;
  position: relative;
  top: 20px;
  padding: 2px 0;
}

body.sharpie b,
body.sharpie strong,
body.sharpie .heading span:first-child{
  font-weight: normal;
}

body.sharpie h1{
  text-align: center;
  line-height: 1.5;
  font-size: 5rem;
  text-transform: uppercase;
  padding-top: 4rem;
}

body.sharpie h1 span:first-child,
body.sharpie h1 span:last-child{
  color: #111;
  letter-spacing: 8px;
}

body.sharpie h1 span:first-child{
  color: #FF229C;
}

body.sharpie a{
  text-decoration: underline solid orange;
  color: #111;
}

body.sharpie .work-date.end{
  padding-right: 10px;
}

body.sharpie .work-date.end:before {
  content: ' to ';
}

body.sharpie .box h6{
  width: 160px;
  font-size: 11px;
  text-transform: uppercase;
  color: #000;
  background-color: #C9FF0B;
  display: inline;
}

body.sharpie h3,
body.sharpie h4,
body.sharpie h5,
body.sharpie h6{
  letter-spacing: normal;
}

body.sharpie footer {
  a{
    color: #FF229C;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  hr{
    border-top-color: #444;
    border-top-width: 2px;
  }
}

@media (min-width: 550px){
  body.sharpie .one-third.column{
    max-width: none;
    width: 100%;
    margin-left: 4%;
  }

  body.sharpie .work-date {
    display: initial;
    text-align: initial;
  }

  body.sharpie .box{
    clear: both;
  }

  body.sharpie .box h6{
    float: left;
    width: 160px;
  }

  body.sharpie .box p{
    float: left;
    position: relative;
    margin-left: 180px;
    margin-top: -25px;
    width: 80%;
  }

  body.sharpie .two-thirds.column p span:last-of-type{
    display: inline-block;
    width: 160px;
    top: 14px;
  }
}

@media (min-width: 750px) {
  body.sharpie{
    .subhead{
      margin-top: -15px;
      margin-left: 187px;
    }
  }

  body.sharpie h1 span:first-child,
  body.sharpie h1 span:last-child{
    letter-spacing: 5px;
    margin-left: 2rem;
  }

  body.sharpie .box{
    width: 100%;
    margin-left: 10%;
  }

  .box:nth-child(2n+0) {
    margin-left: inherit;
  }

  body.sharpie .row.job{
    margin-bottom: 100px;
  }

  body.sharpie .two-thirds.column p span:last-of-type{
    margin-left: 10%;
  }
}

@media (min-width: 960px) {
    body.sharpie {
      .heading{
          margin-left: 0;
      }
    }

    .two-thirds.column{
      width: 800px;
    }
}