---
layout: default
columns: two
---
<section class="book-cover">
  <figure>
    <a href="{{ page.book_url }}" target="_blank">
      <img src="{{ page.book_image }}" alt="{{ page.title }}" />
    </a>
  </figure>
</section>

<article class="post book" itemscope itemtype="https://schema.org/BlogPosting">
  <header>
    <h1>{{ page.title }}</h1>
    <h4>{{ page.excerpt }}</h4>
    <p>Published {{ page.date | date: "%B %-d, %Y" }}</p>
  </header>
  <div class="kramdown">
  {{ content }}
  </div>
</article>